/* APP COLORS: 
	white: #F2F2F2;
	yellow (buttons): #F7B538;
	light red: #BC2525;
	dark red: #AA0000;
	maroon (nav): #750000;
*/

/* DOCUMENT */ 
body{
    background-color: #AA0000;
    color: #eef0f2;
    font-family: 'Avenir', Arial, sans-serif;
}

img{
	/*max-height: 90%;
	max-width: 90%;*/
	height: 500px;
/*	padding-left: 50px;
*/	margin-top: 0px;
}

h1{
	font-size: 50px;
	font-weight: 700;
}

h2{
	line-height: 1.5;
}

.btn:hover{
	color: #AA0000;
	background-color: #eef0f2;
	border: 5px solid #eef0f2; 
	border-radius: 4px;
}

.btn:active,.btn:focus, .btn:active:focus, .btn.active:focus{
	color: #AA0000;
	background-color: #750000;
	border: 5px solid #750000; 
	border-radius: 4px;
}

.btn-default{
	background-color: #AA0000;
    color: #eef0f2;
	font-family: 'Avenir', Arial, sans-serif;
	font-weight: 700;
	border: 5px solid;
}

.container-fluid{
	padding-right:0;
    padding-left:0;
    text-align: center;
	margin-right: -80px;
}

/*.flex-container{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
}

.flex-item{
	margin: auto;
}*/

.highlight{
/*	font-style: italic;
	letter-spacing: 3px;*/
	text-decoration: underline;
	text-decoration-color: #F7B538;
	-webkit-text-decoration-color: #F7B538;
}

.yellow-background{
	background-color: #F7B538;
	/*text-align: center;
	margin-right: -80px;*/
}

/* NAV*/
#nav{
	background-color: #750000;
	text-align: left;
}

#nav img{
	height: 70px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* HEADER */ 

#header{
	background-color: #AA0000;
}

#header-text{
	margin-top: 175px;
	text-align: center;
}
#header-text h1{
	letter-spacing: -1px;
	font-size: 70px;
}

#header-image{
	text-align: center;
}

#header a{
	font-size: 20px;
	line-height: 1.5;
/*	text-transform: uppercase;
*/}

/* SHOWS */

/*#shows{
	background-color: #F7B538;
	text-align: center;
}*/

/* AUTOFILL */

#autofill{
	text-align: center;
}

.features-item{
	padding-top: 50px;
	padding-bottom: 50px;
}
.features-item h1{
	padding-top: 100px;
}

/* NOTIFS */

#notifs{
	text-align: center;
	background-color: #F7B538;

}

/*DOWNLOAD*/

#download{
	padding-top: 50px;
	padding-bottom: 50px;
}

#download a{
	font-size: 50px;
}

#download img{
	width: 300px;
	height: 300px;
}


/*FOOTER*/

#footer{
	background-color: #750000;
	padding-top: 50px;
	padding-bottom: 30px;
	color: #AA0000;
}
#footer h4{
	display: inline-block;
}
#footer img{
	height: 28px;
	padding-left: 5px;
	margin-bottom: 5px;
}

#footer a{
	color: #AA0000;
}

/* MOBILE */ 

#autofill-mobile{
	display: none;
}

@media all and (max-width: 425px) {
	.features-item h1{
		padding-top: 10px;
	}
	.features-item{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.features-item h2{
		padding-bottom: 50px;
	}

	.features-item img{
		padding-top: 50px;
	}

	#autofill .features-item h2{
		padding-bottom: 0px;
	}

	#autofill .features-item img{
		padding-bottom: 50px;
	}
	/*HEADER */ 
	#header-text{
		margin-top: 100px;
	}

	#autofill-mobile{
		display: block;
	}

	#autofill{
		display: none;
	}

	}